.header {
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    img {
        max-width: 200px;
    }

    h1 {
        font-size: 30px;
    }
}